	/* background: #fdde74; */
@define-color theme-main-color #292b2e;
	/* background: #4656b5; */
@define-color theme-alt-color #1a1a1a;
	/* color: #fdf6e3; */
@define-color theme-text-color #fdf6e3;


* {
	font-size: 18px;
	font-family: noto sans monospace;
}

window#waybar {
	background: @theme-main-color;
	color: @theme-text-color;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	font-size: 22px;
	color: @theme-alt-color;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	font-size: 22px;
	color: @theme-main-color;
	background: @theme-alt-color;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#language,
#battery,
#backlight,
#tray,
#disk {
	background: @theme-alt-color;
}

#workspaces button {
	padding: 0 1px;
	color: @theme-text-color;
}
#workspaces button.visible {
	color: #898989;
}
#workspaces button.active {
	color: #cb00b5;
	/* color: @theme-main-color; */
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 1px;
}

#memory {
	/* color: @theme-text-color; */
	color: #2aa198;
}
#cpu {
	/* color: @theme-text-color; */
	color: #6c71c4;
}
#language {
	color: #fdde74;
	padding: 0 5px;
}

#pulseaudio {
	/* color: @theme-text-color; */
	color: #268bd2;
}
#backlight {
	color: #fdde74;
}


#battery {
	color: #859900;
}
#battery.warning {
	/* d6d200 */
	color: #fdde74;
}
#battery.empty:not(.charging) {
	color: #f53c3c;
}
#battery.charging,
#battery.plugged,
#battery.not-charging,
#battery.full {
    color: #ffffff;
}
@keyframes blink {
    to {
	    color: #f53c3c;
    }
}
#battery.critical:not(.charging),
#battery.empty:not(.not-charging) {
	/* ffdd00 */
        color: #fdde74;
    animation-name: blink;
    animation-duration: 1.25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#disk {
	color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#backlight,
#disk {
	padding: 0 10px;
}

